
// Books
ol.books{
  list-style:none;
  margin:0 0 $padding;
  padding:0;
  a{
    img{
      border:2px solid #fff;
      max-height:120px;
      @include box-shadow(0 0 10px rgba(0,0,0,.2));
    }
    &:hover img,&:focus img{
      @include box-shadow(0 0 10px rgba(0,0,0,.4));
    }
    &:hover{
      background:transparent;
    }
  }
  li{
    float:left;
    margin:0 10px 10px 0;
  }
}

// Photo
.about-photo{
  width:200px;
  float:right;
  margin:0 0 $padding $padding;
}


// Responsive
@include responsive($small-break) {
  .about-photo{
    width:100%;
    float:none;
    margin:0 0 10px;
  }
}