
.post{
  margin:0 0 $padding;
}

// Posts
ul.posts{
  list-style:none;
  margin:0 0 $padding;
  padding:0;
  li{
    margin:0;
    a{
      display:block;
      border-bottom:1px solid $grey;
      padding:$padding/2;
      font-size:1.2em;
      color:#666;
      font-weight:normal;
      &:hover,&:focus{
        color:$primary-color;
      }
      span.date{
        color:#aaa;
        float:right;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}



// Comments
#commentform textarea,#commentform input[type=text]{
	width:100%;
	box-sizing:border-box;
}
ol.comments{
	list-style:none;
	padding:0;
	margin-bottom:$padding;
	margin-left:-40px;
  margin-right:-$padding;
	li{
	  @include clearfix;
		border-bottom:1px solid $grey;
		padding:$padding;
		margin:0;
		color:#999;
		a{
			color:#999;
		}
		img{
			@include border-radius(40px);
			@include box-shadow(0 0 0 5px rgba(0,0,0,.1));
		}
		&.author{
		  background:lighten(whitesmoke,1%);
		}
		&:hover{
			color:#666;
			a{
				color:$secondary;
			}
		}
		p:last-child{
			margin-bottom:0;
		}
	}
}