
/*
# Mixins & Variables ############################################################################################### 
*/

/*@mixin clearfix{
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  zoom: 1;
}*/

.group,article{
	@include clearfix;
}

@mixin rounded{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
}


$primary: #3b9edd; /* Header bg */
$secondary: #c2374c; /* Highlight, links */


/*
# Layout ############################################################################################### 
*/

/*body{
  background:#fff;
  margin-top:10px;
}*/

/*#logo{
  display:block;
  height:40px;
  line-height:40px;
  padding:0 0 0 42px;
  overflow:hidden; 
  background:url(images/sprite.png) no-repeat 0 0;
  float:left;
  opacity:.7;
  color:#fff;
  text-decoration: none;
  text-shadow:0 -1px 0 rgba(0,0,0,.4);
  &:hover, &:focus{
    opacity:.9;
  }
}*/
/*
header{
  @include clearfix;
  @include rounded;
  -webkit-font-smoothing:antialiased;
  clear:both;
  background:$primary;
  background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.20))), url(images/nav.png);
  background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.20)), url(images/nav.png);
  background-image:-moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.20)), url(images/nav.png);
  background-image:-ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.20)), url(images/nav.png);
  background-image:linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.20)), url(images/nav.png);
  background-repeat:repeat,repeat;
  border:1px solid darken($primary,20%);
  border-bottom-color:darken($primary,30%);
  margin:0 0 20px 0;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,.3),inset 0 1px 1px rgba(255,255,255,.4);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,.3),inset 0 1px 1px rgba(255,255,255,.4);
  -ms-box-shadow:0 1px 1px rgba(0,0,0,.3),inset 0 1px 1px rgba(255,255,255,.4);
  box-shadow:0 1px 1px rgba(0,0,0,.3),inset 0 1px 1px rgba(255,255,255,.4);
  font-family: bree,helvetica,arial,sans-serif;
  nav ul{
    list-style:none;
    float:right;
    margin-bottom:0;
    li{
      float:left;
      margin:0 .25em;
      a{
        float:left;
        display:block;
        padding:.15em .1em;
        color:#fff;
        opacity:.7;
        text-decoration:none;
        font-weight:normal;
        text-shadow:0 -1px 0 rgba(0,0,0,.5);
        line-height:9px;
        span{
          display:block;
          padding:.65em 1em;
          border:1px solid transparent; 
          @include rounded;
        }
        &:hover,&:focus{
          background:transparent;
          color:#fff;
          opacity:.9;
          span{
            border-color:darken($primary,20%);
            -webkit-box-shadow:0 1px 1px rgba(255,255,255,.2), inset 0 1px 2px rgba(255,255,255,.2),inset 0 -1px 3px rgba(0,0,0,.1);
            -moz-box-shadow:0 1px 1px rgba(255,255,255,.2), inset 0 1px 2px rgba(255,255,255,.2),inset 0 -1px 3px rgba(0,0,0,.1);
            -ms-box-shadow:0 1px 1px rgba(255,255,255,.2), inset 0 1px 2px rgba(255,255,255,.2),inset 0 -1px 3px rgba(0,0,0,.1);
            box-shadow:0 1px 1px rgba(255,255,255,.2), inset 0 1px 2px rgba(255,255,255,.2),inset 0 -1px 3px rgba(0,0,0,.1);
          }
        }
      }
      a:active,&.selected a{
        color:#fff;
        opacity:.9;
        span{
          border-color:darken($primary,20%);
          -webkit-box-shadow:0 1px 1px rgba(255,255,255,.2), inset 0 2px 5px rgba(0,0,0,.1),inset 0 0 5px 1px rgba(0,0,0,.1);
          -moz-box-shadow:0 1px 1px rgba(255,255,255,.2), inset 0 2px 5px rgba(0,0,0,.1),inset 0 0 5px 1px rgba(0,0,0,.1);
          -ms-box-shadow:0 1px 1px rgba(255,255,255,.2), inset 0 2px 5px rgba(0,0,0,.1),inset 0 0 5px 1px rgba(0,0,0,.1);
          box-shadow:0 1px 1px rgba(255,255,255,.2), inset 0 2px 5px rgba(0,0,0,.1),inset 0 0 5px 1px rgba(0,0,0,.1);
          background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.10)),to(rgba(0, 0, 0, 0.00)));
          background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.00));
          background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.00));
          background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.00));
          background-image: linear-gradient(top, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.00));
        }
      }
    }
  }
}*/


/*Twitter follow header*/
/*.followme .twitter-follow-button{
  width:214px !important;
}*/

/*
# Type ############################################################################################### 
# With some help from Typecast
*/



/*body { 
  font-family: ff-meta-serif-web-pro,Georgia, times, serif; 
  font-size: 18px; 
  line-height: 26px; 
  color: #666; 
  font-style: normal; 
  font-weight: 400; 
}*/
/*h1 { 
  font-size: 3em; 
  line-height: 1.2037em; 
  font-style: normal; 
  font-weight: normal; 
  font-family: chaparral-pro, georgia,times,serif; 
  margin: 0 0 20px; 
  text-align: left; 
  -moz-font-feature-settings: 'liga=1'; 
  -ms-font-feature-settings: 'liga' 1;
  -webkit-font-feature-settings: 'liga' 1; 
  -o-font-feature-settings: 'liga' 1; 
  font-feature-settings: 'liga' 1; 
  text-transform: capitalize; 
  color: rgba(51, 51, 51, 1.00);
  strong{
    font-weight:normal;
    color:$secondary;
  }
}
h2 { 
  font-size: 1.6em; 
  font-weight: normal; 
  font-family: ff-meta-serif-web-pro, georgia,times,serif; 
  line-height: 1.4444em; 
  text-align: left; 
  margin:0 0 20px;
  color:#bbb;
  -webkit-font-smoothing: antialiased;
}
h3 { 
  font-style: normal; 
  font-weight: normal; 
  font-family: ff-meta-serif-web-pro, georgia,times,serif; 
  font-size: 1.6em; 
  margin-top: 1.4444em; 
  margin-bottom: 0em; 
  line-height: 1.4444em; 
  text-transform: capitalize; 
  -webkit-font-smoothing: antialiased;
}
h4 { 
  font-size: 1.6em; 
  font-style: normal; 
  font-weight: 400; 
  font-family: ff-meta-serif-web-pro; 
  margin-top: 2em; 
  margin-bottom: 0.4815em; 
  -moz-font-feature-settings: 'liga=1'; 
  -ms-font-feature-settings: 'liga' 1;
  -webkit-font-feature-settings: 'liga' 1; 
  -o-font-feature-settings: 'liga' 1; 
  font-feature-settings: 'liga' 1; 
  color: rgba(51, 51, 51, 1.00); 
  line-height: 1.4444em; 
  text-transform: capitalize; 
}
p { 
  margin-bottom: 20px; 
  text-align: justify; 
  font-style: normal; 
  font-weight: 400; 
  font-family: ff-meta-serif-web-pro,Georgia,times,serif; 
  font-size: 1em; 
  line-height: 1.4444em; 
  margin-top: 0em; 
  strong{
    color:#333;
  }
}
blockquote{
  border-left:3px solid $primary;
  padding-left:0.4815em;
  color:#999;
  margin:0.4815em 0;
  font-size: 1.2em;
  line-height: 1.4444em; 
  p{
    font-style:italic;
  }
}*/



/*
# Media ############################################################################################### 
*/
/*
img{
  border:none;max-width:100%;
}
img.left{
  margin:0 10px 10px 0;
}
img.right{
  margin:0 0 10px 10px;
}
figure{
  margin-bottom:24px;
}
*/

/*
# Links ############################################################################################### 
*/

/*a{
  color:$secondary;
  text-decoration:none;
  &:hover, &:focus{
    color:$primary;
    background-color:#eef5fa;
  }
}*/

/* Buttons */
/*.button,.pagination a{
  background:$secondary;
  display:inline-block;
  padding:10px 20px;
  border:1px solid darken($secondary,20%);
  color:#fff;
  cursor:pointer;
  text-shadow:1px 1px 0 rgba(0,0,0,.3);
  margin:0 0 10px 0;
  text-align:center;
  font-family: bree,helvetica,arial,sans-serif;
  font-size:1em;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
  background-image: -webkit-gradient(linear, left top,left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,.2)));
  background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),0 1px 3px rgba(0,0,0,.2),0 0 5px rgba(0,0,0,.2);
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),0 1px 3px rgba(0,0,0,.2),0 0 5px rgba(0,0,0,.2);
  -ms-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),0 1px 3px rgba(0,0,0,.2),0 0 5px rgba(0,0,0,.2);
  box-shadow:inset 0 1px 0 rgba(255,255,255,.3),0 1px 3px rgba(0,0,0,.2),0 0 5px rgba(0,0,0,.2);
  &:hover,&:focus{
    color:#fff;
    background-color:$primary;
    border-color:darken($primary,20%);
  }
  &:active{
    position:relative;
    top:1px;
  }
}*/


/* Icon links */
/*
.iconlink{
  display:inline-block;
  text-indent:-9999px;
  overflow:hidden;
  background:url(images/sprite.png) no-repeat 0 0 transparent;
  &:hover{
    background-color:transparent; 
  }
  &.twitter{
    background-position:-50px -100px;
    height:32px;
    width:32px;
    top:0;
    position:relative;
    -webkit-transition: top .2s;
    -moz-transition: top .2s;
    -ms-transition: top .2s;
    transition: top .2s;
    &:hover{
      top:-5px;
      -webkit-transition: top .2s;
      -moz-transition: top .2s;
      -ms-transition: top .2s;
      transition: top .2s;
    }
  }
  &.dribbble{
    background-position:-150px -100px;
    height:32px;
    width:32px;
    top:0;
    position:relative;
    -webkit-transition: top .2s;
    -moz-transition: top .2s;
    -ms-transition: top .2s;
    transition: top .2s;
    &:hover{
      top:-5px;
      -webkit-transition: top .2s;
      -moz-transition: top .2s;
      -ms-transition: top .2s;
      transition: top .2s;
    }
  }
  &.rss{
    background-position:0 -100px;
    height:32px;
    width:32px;
    top:0;
    position:relative;
    -webkit-transition: top .2s;
    -moz-transition: top .2s;
    -ms-transition: top .2s;
    transition: top .2s;
    &:hover{
      top:-5px;
      -webkit-transition: top .2s;
      -moz-transition: top .2s;
      -ms-transition: top .2s;
      transition: top .2s;
    }
  }
  &.github{
    background-position:-100px -100px;
    height:32px;
    width:32px;
    top:0;
    position:relative;
    -webkit-transition: top .2s;
    -moz-transition: top .2s;
    -ms-transition: top .2s;
    transition: top .2s;
    &:hover{
      top:-5px;
      -webkit-transition: top .2s;
      -moz-transition: top .2s;
      -ms-transition: top .2s;
      transition: top .2s;
    }
  }
}*/


/* Social links */

/*.socialIcons{
  @include clearfix;
  list-style:none;
  margin:.7775em 0;
  padding:0;
  float:right;
  li{
    display:inline;
    a{
      display:inline-block;
      margin:0 0 0 .5em;
    }
  }
}
footer .socialIcons{
  float:none;
  a{
    opacity:.6;
    margin:0 .5em 0 0;
    &:hover{
      opacity:1;
    }
  }
}*/
/*
# Forms ############################################################################################### 
*/

/*form.form .item,form.wpcf7-form .item, form .actions{
  margin-bottom:1.4444em
}
form.form label,form.wpcf7-form label{
  display:block;
}
form.form input,form.form select,form.form textarea,form.wpcf7-form input, form.wpcf7-form select, form.wpcf7-form textarea{
  padding:8px 10px;
  border:1px solid #b7c3c8;
  font-size:1em;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
  -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.1);
  -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.1);
  box-shadow:inset 0 1px 3px rgba(0,0,0,.1);
  &:focus{
    border-color:$primary;
    outline:none;
  }
}
form.form .checkbox,form.wpcf7-form .checkbox{
  float:left;
  margin-right:5px;
}
form.form .subscribe-to-comments input{
  float:left;
}
form.form span, form.wpcf7-form span{
  font-weight:normal;
  font-style:italic;
  color:#999;
}
form.form .note, form.wpcf7-form .note{
  color:#999;
  margin-top:5px;
}*/

/* Search */
/*
#search input{
  width:100%;
  box-sizing:border-box;
  &:focus,&.active{
    width:100%;
  }
}
*/


/*
# Other ############################################################################################### 
*/
/*
span.good{
  color:#009900;
}
span.bad{
  color:#cc0000;
}

.amp{
  font-family:Baskerville, Times, serif;font-style:italic;
}

.subtle{
  color:#999;
}


.right{
  float:right;
}
.left{
  float:left;
}
.clear{
  clear:both;
}
.alignleft{
  text-align: left;
}
.alignright{
  text-align: right;
}
.aligncenter{
  text-align: center;
}
.valign{
  vertical-align:middle;
}
.nm{
  margin:0 !important;
}
.block{
  display:block;
}*/

/*hr.end{
  border:none;
  border-top:1px dashed #eee;
  margin:1.4444em 0;
  height:0;
}
*/

/*
# 12 Notifications ###############################################################################################
*/

/*.flash, .wpcf7-response-output{
  border:1px solid;padding:10px;margin:10px 0;font-weight:normal;
  -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}

.flash.error, .wpcf7-validation-errors{
  border-color: #cc3333 !important;background:#ffcccc;color:#cc3333;padding-left:10px;
}

.wpcf7-not-valid-tip-no-ajax{
  color:#cc3333;
}

span.wpcf7-not-valid-tip{
  left:380px !important;top:-9px !important;border-color: #cc3333 !important;background:#ffcccc !important;color:#cc3333 !important;
  -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}

.flash.success, .wpcf7-mail-sent-ok{
  border-color: #618e2c !important;background:#e9f3de !important;color:#618e2c !important;
}
*/

/*
# Homepage ###############################################################################################
*/

/*.intro{
  width:100%;
  height:300px;
  background:url(images/profile.jpg) no-repeat;
  background-size:800px 300px;
  box-sizing:border-box;
  h1{
    background:rgba(white,.6);
    padding:5px 5px 5px 20px;
    margin-bottom:100px;
    border-bottom:1px solid #fff;
  }
  p{
    margin-left:20px;
  }*/
	/*
		a{
			background:rgba(0,0,0,.4);
			padding:10px 20px;
			font-size:22px;
			color:rgba(255,255,255,.8);
			&:hover{
				background:rgba(0,0,0,.8);
			}
		}*/
/*}*/

/*
# Blog ###############################################################################################
*/

/* Alternate floats */
/*article.article figure{
	float:right;margin:0 0 12px 24px;
}*/



/*.article{
	p,ul,ol,pre{
		max-width:60.8695%;
		text-align:justify;
	}
}*/

/*.article ul,.article ol{
  margin-bottom: 1.4444em;
  list-style-position:inside;
  li{
    margin-bottom:0.4815em;
  }
}*/

/*Ads*/
/*.article{
  position:relative;
}
#influads_block{
  float:right;
  margin:0 0 1em 2em !important;
}*/

/* Code */
/*pre{
  background:whitesmoke;
  padding:8.5px;
  overflow-x:auto;
  font-size:.7778em;
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre-wrap;
  @include rounded;
  font-family:"Courier New", monospace;
  border:1px solid #ddd;
  margin-bottom: 1.4444em;
}*/

/* Comments 
#commentform textarea,#commentform input[type=text]{
  width:100%;
  box-sizing:border-box;
}
ol.comments{
  list-style:none;
  margin-bottom:1.4444em;
  li{
    border-bottom:1px dashed #eee;
    padding:1.4444em;
    color:#999;
    a{
      color:#999;
    }
    img{
      -webkit-border-radius:50px;
      -moz-border-radius:50px;
      -ms-border-radius:50px;
      border-radius:50px;
      -webkit-box-shadow:0 0 0 5px rgba(0,0,0,.1);
      -moz-box-shadow:0 0 0 5px rgba(0,0,0,.1);
      -ms-box-shadow:0 0 0 5px rgba(0,0,0,.1);
      box-shadow:0 0 0 5px rgba(0,0,0,.1);
    }
    &:hover{
      color:#666;
      a{
        color:$secondary;
      }
    }
    p:last-child{
      margin-bottom:0;
    }
  }
}*/
/*
ul.posts{
  list-style:none;
  margin:0 0 1.444em;
  padding:0;
  li{
    margin:0;
    a{
      display:block;
      border-bottom:1px dashed #eee;
      padding:.7778em;
      font-size:1.2em;
      color:#666;
      font-weight:normal;
      span.date{
        color:#aaa;
        float:right;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}


.vcard{
  @include clearfix;
  font-size:.8889em;
  color:#aaa;
  margin:0 auto 2.8888em;
  width:180px;
  img{
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    border-radius:50px;
    -webkit-box-shadow:0 0 0 5px rgba(0,0,0,.1);
    -moz-box-shadow:0 0 0 5px rgba(0,0,0,.1);
    -ms-box-shadow:0 0 0 5px rgba(0,0,0,.1);
    box-shadow:0 0 0 5px rgba(0,0,0,.1);
  }
}*/
/*
#influads_block{
  width:180px;
  margin:0 auto;
}


.pagination{
  margin-bottom:1.4444em;
}


*/

/*
# Portfolio ###############################################################################################
*/


/* Projects */
/*.showcase{
  section{
    @include clearfix;
    margin-bottom:5.6666em;
    &:first-of-type{
      h4{
        margin-top:0;
      }
    }
    &:nth-of-type(even){
      padding-left:12%;
      .img{
        @extend .span5;
        float:left;
      }
      .content{
        float:right;
        margin-right:0;
        @extend .span3;
      }
    }
    &:nth-of-type(odd){
      padding-right:12%;
      .img{
        @extend .span5;
        margin-right:0;
      }
      .content{
        @extend .span3;
      }
    }
  }
}

*/


/*
# Footer ###############################################################################################
*/
/*footer{
  @include clearfix;
  background:url(images/footer.png) #2e2a29;
  padding:1.4444em 0;
  color:#999;
  -webkit-box-shadow:inset 0 2px 20px -5px rgba(0,0,0,.8);
  a{
    color:#fff;
    &:hover{
      text-decoration:none;
      background-color:transparent;
    }
  }
}
*/


/*
# About ###############################################################################################
*/
/*ol.books{
  list-style:none;
  a{
    img{
      border:2px solid #fff;
      -webkit-box-shadow:0 0 10px rgba(0,0,0,.2);
      -moz-box-shadow:0 0 10px rgba(0,0,0,.2);
      box-shadow:0 0 10px rgba(0,0,0,.2);
    }
    &:hover img,&:focus img{
      -webkit-box-shadow:0 0 10px rgba(0,0,0,.4);
      -moz-box-shadow:0 0 10px rgba(0,0,0,.4);
      box-shadow:0 0 10px rgba(0,0,0,.4);
    }
    &:hover{
      background:transparent;
    }
  }
  li{
    height:160px;
    float:left;
    margin:0 .4em .4em 0;
    /*&:nth-child(5n) a{
          margin-right:0;
        }
        &:nth-child(5n+1) a{
          clear:both;
        }
  }
}
*/










