// Showcase
.home-showcase{
  text-align: center;
  line-height:1;
  list-style: none;
  margin:$padding 0;
  padding-left:0;
  li{
    @extend .span2;
    float:left;
    margin-right: 2.1277%;
    &:nth-child(6n){
      margin-right:0;
    }
  }
  a{
    display: inline-block;
    border: 1px solid $grey;
    padding: 10px 30px;
    border-radius: 5px;
    @include box-shadow(0 0 10px rgba(0,0,0,.05));
    width: 100%;
    @include box-sizing(border-box);
  }
  img{
    max-width:60px;
  }
}

//Responsive homepage
@media only screen and (max-width: 700px) {

  .home-showcase li{
    width: 31.9148%;
    &:nth-child(3n){
      margin-right:0;
    }
    &:nth-child(3n+1){
      clear:both;
    }
  }

}


//Responsive homepage
@media only screen and (max-width: 500px) {

  .home-showcase li{
    width: 100%;
    float:none;
    margin-right:0;
  }

}