body{
  background:whitesmoke;
}

// Article
.article{
  border-right:1px solid $grey;
  padding:0 $padding 0 0;
  @include box-sizing(border-box);
  width:75%;
  float:left;
}
.aside{
  padding:0;
  @include box-sizing(border-box);
  width:25%;
  float:left;
  font-size:14px;
  a{
    border:none;
  }
}

main{
  @include clearfix;
  padding:$padding 0;
  background:#fff;
}

// Logo
.logo{
  height:40px;
  width:35px;
  padding:10px;
  background:#fff;
  display:block;
  z-index:20;
  margin:0 auto;
  border-bottom:none;
  span{
    display:block;
    width:35px;
    height:40px;
    background:url(assets/sp@2x.png) no-repeat 0 -40px;
    background-size:249px 249px;
    margin:0 auto;
    text-indent:-9999px;
  }
  &:hover,&:focus{
    background:#fff;
  }
}
@include keyframes(bgcolor){
  0%{background-color:#ff7200;}
  20%{background-color:#0084ff;}
  40%{background-color:red;}
  60%{background-color:#6ec931;}
  80%{background-color:purple;}
  100%{background-color:#ff7200;}
}
.logo span{
  background-color:#ff7200;
  @include animation(infinite, 30s, bgcolor);
}

// Sections
.section{
  margin-bottom:$padding*2;
  @include clearfix;
}

// Header
header{
  background:#fff;
}

// Footer
footer{
  width:100%;
  padding:$padding 0;
  z-index:5;
  background:whitesmoke;
  border-top:1px solid $grey;
  text-align:center;
  p{
    font-size:16px;
    color:$grey-dark;
  }
}

// Profile
.profile{
  margin:0 0 $padding;
  p{
    margin-bottom:5px;
    &.profile-status{
      color:#aaa;
    }
  }
}

// Ads
#fusion_ad{
  font-size:12px;
  margin:0 auto $padding;
  width:70%;
  a{
    border:none;
    color:#aaa;
  }
}