// Links
a{
	color:$secondary-color;
	text-decoration:none;
  padding-bottom:2px;
  border-bottom:2px solid $secondary-color;
	&:hover, &:focus{
		color:$primary-color;
		background-color:#eef5fa;
	}
}

// Buttons
.button,.pagination a{
	background:$primary-color;
	display:inline-block;
	padding:10px 25px;
	border:none;
	text-transform:uppercase;
	color:#fff;
	cursor:pointer;
	text-align:center;
	font-size:16px;
	@include border-radius(5px);
	outline:none;
	&:hover,&:focus{
		color:#fff;
		background-color:$secondary-color;
	}
	&:active{
		background-color:darken($secondary-color,5);
	}
}


// Icon links
.profile-social a{
  color:#aaa;
  font-size:18px;
  margin:0 2px;
  &:hover{
    opacity:1;
    background-color:transparent;
  }
  &.twitter:hover{
    color:lightblue;
  }
  &.dribbble:hover{
    color:pink;
  }
  &.rss:hover{
    color:orange;
  }
  &.github:hover{
    color:black;
  }
}