// Text links
a{
	color:$primary-color;
	&:hover,&:focus{
		text-decoration:none;
	}
}

// Default button
.btn{
  @include border-radius($btn-br);
  background:$tertiary-color;
  border:2px solid $tertiary-color;
  color:#fff;
  text-decoration:none;
  display:inline-block;
  line-height: $line-height;
  padding:0 25px;
  text-transform: capitalize;
  font-size:22px;
  // @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2),0 0 5px rgba(0,0,0,.05),0 1px 2px rgba(0,0,0,.2));
  outline:none;
  &:hover,&:focus{
    background:darken($tertiary-color,5);
    text-decoration: none;
    // @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2),0 0 10px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.2));
  }
  &:active{
    background:darken($tertiary-color,10);
    // @include box-shadow(inset 0 1px 2px rgba(0,0,0,.2));
  }
}

// Primary action button
.btn-primary,.button{
  @extend .btn;
  background-color:$primary-color;
  border-color:$primary-color;
  color:#fff;
  &:hover,&:focus{
    background-color:darken($primary-color,5);
    border-color:darken($primary-color,5);
    color:#fff;
  }
  &:active{
    background-color:darken($primary-color,10);
    border-color:darken($primary-color,10);
  }
}

// Secondary action button
.btn-secondary{
  @extend .btn;
  background-color:transparent;
  border-color:$primary-color;
  color:$primary-color;
  &:hover,&:focus{
    background-color:darken($primary-color,5);
    border-color:darken($primary-color,5);
    color:#fff;
  }
  &:active{
    background-color:darken($primary-color,10);
    border-color:darken($primary-color,10);
  }
}

// Call to action - slightly bigger
.btn-cta{
  font-size:1.4em;
  padding:0 50px;
  height:$line-height*1.5;
}

// Link button - a button that looks like a link
.btn-link{
  @extend .btn;
  color:$primary-color;
  background:transparent;
  border:none;
  text-shadow:none;
  text-transform:none;
  @include box-shadow(none);
  &:hover,&:focus{
  	text-decoration:underline;
    background:transparent;
  	@include box-shadow(none);
  }
  &:active{

  }
}

// Icon button
.btn-icon{
  background:transparent;
  border:none;
  padding:0;
}


// Responsive styles
// @include responsive($big-break) {
// }

@include responsive($small-break) {
  .btn,.btn-primary,.btn-secondary,.button{
    display:block;
    width:100%;
    margin-bottom:5px;
  }
}

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }