img,video,audio,iframe,object{
	max-width:100%;
}

// SVG icons
[class^="icon-"]{
  height: 18px;
  width: 18px;
  display: inline-block;
  fill: currentColor;
}

// Media class to break container
.media{
  margin-left:-50px;
  margin-right:-50px;
}