img,video,audio,iframe,object{
	max-width:100%;
}

// SVG icons
[class^="icon-"]{
  height: 18px;
  width: 18px;
  display: inline-block;
  fill: currentColor;
}

.about-photo{
  width:200px;
  float:right;
  margin:0 0 $padding $padding;
}