// Responsive nav trigger
.btn-trigger-nav{
  position:absolute;
  top:5px;
  right:5px;
  display:none;
  padding:10px;
}

@include responsive($big-break) {

  // Show the responsive nav trigger
	.btn-trigger-nav{
    display:block;
  }

  // Hide the ads
  #fusion_ad{
    display:none;
  }
}

@include responsive($small-break) {
  // e.g. iPhone, mobile
	body{
		overflow-x:hidden;
	}

  .button-group--home {
    flex-direction: column;

    a {
      margin-bottom: 10px;
    }
  }
}