body {
  font-family: "PT Serif", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:18px;
  line-height:1.6;
  color: #333;
}

blockquote {
  font-style: italic;
  font-weight: 400;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding-left: 20px;
  font-size: 1.2em;
  margin: 0 0 $padding/2;
  border-left:2px solid $primary-color;
  color: $grey;
  margin-left:-20px;
  margin-right:-20px;
  @include box-sizing(border-box);
}

h1,h2,h3,h4,h5,.main-nav,.btn{
  font-family: "PT Sans Narrow", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height:1.4;
}

h1 {
  font-size: 72px;
  margin: 0 0 25px;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  line-height:1.2;
  background:-webkit-linear-gradient(#555555,#222222);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  em{
    font-style: normal;
    font-weight:400;
  }
}

h2,h4 {
  font-size: 42px;
  margin: 40px 0 10px;
  font-weight: 700;
  font-style: normal;
}

h3,h5 {
  font-size: 32px;
  margin: 40px 0 10px;
  font-weight: 400;
  font-style: normal;
}

h4+h5{
  margin: 10px 0 10px;
}

// h4 {
//   font-size: 18px;
//   margin: 0 0 25px;
//   font-weight: 700;
//   font-style: normal;
// }

// h5 {
//   font-size: 16px;
//   margin: 0 0 25px;
//   font-style: normal;
//   font-weight: normal;
// }

p {
  margin: 0 0 $padding/2;
}

pre{
  background-color:#272822;
  padding:20px;
  overflow-x:auto;
  font-size:16px;
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre-wrap;
  color:#fff;
  // @include border-radius($br);
  font-family:"Courier New", monospace;
  // border:1px solid darken(whitesmoke,20%);
  code{
    background:transparent;
    padding:0;
    border:none;
    @include border-radius(none);
  }
}

.highlight{
  margin-right:-20px;
  margin-left:-20px;
  position:relative;
}

code{
  background:#272822;
  color:#fff;
  // @include border-radius(3px);
  font-family:"Courier New", monospace;
  // border:1px solid darken(whitesmoke,20%);
  padding:1px 2px;
}
strong code {
  background: transparent;
  color: inherit;
  padding: 0;
}

.main-article{
  strong{
    background:rgba(yellow, .5);
  }
}


// Responsive styles if needed
// @include responsive($big-break) {
// }
@include responsive($small-break) {
  body{
    font-size:14px;
  }
  h1,h2,h3,h4,h5{
    margin-bottom:10px;
  }
  h1{
    font-size:26px;
  }
  h2,h4{
    font-size:18px;
  }
  h3,h5{
    font-size:16px;
  }
  p,ul,ol{
    font-size:14px;
  }
}

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }