/*
Typography
Style headings and body text
*/

body {
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-size:16px;
  color:#444;
  line-height:1.6;
}

blockquote {
  font-style: italic;
  font-weight: 400;
  font-family: Georgia;
  text-indent: 0px;
  font-size: 26px;
  line-height: 37px;
  margin:0 0 14px;
  padding-left:$padding;
  border-left:2px solid $secondary-color;
}

h1,h3,h4,h5,nav,.button{
   font-family: "Roboto Slab",Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  margin: 0 0 25px;
  text-transform:capitalize;
  font-weight:400;
  strong{
    color:$primary-color;
    font-weight:400;
  }
}

h2 {
  font-size: 18px;
  line-height: 50px;
  margin: 0 0 25px;
  color:$grey-dark;
  font-weight:400;
}

h3 {
  font-size: 26px;
  line-height: 50px;
  margin: 0 0 15px;
  font-weight:400;
  text-transform:capitalize;
}

h4 {
  margin: 0 0 25px;
  font-weight: 400;
  font-style: normal;
  font-size:32px;
}
.article h4{
  margin-top:100px;
}

h5 {
  margin: 0 0 15px;
  font-style: normal;
  font-weight: normal;
  font-size:26px;
  color:#999;
}

h6 {
  font-weight: 400;
  font-style: italic;
  margin: 0 0 25px;
}

p, ul, ol, pre, label{
  margin: 0 0 25px;
/*  font-size:22px;
  line-height:1.6;*/
  strong{
    font-weight:400;
  }
}

pre{
  background:whitesmoke;
  padding:$padding/2;
  overflow-x:auto;
  font-size:16px;
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre-wrap;
  @include border-radius($br);
  font-family:"Courier New", monospace;
  border:1px solid darken(whitesmoke,20%);
  code{
    background:transparent;
    padding:0;
    border:none;
    @include border-radius(none);
  }
}

code{
  background:whitesmoke;
  @include border-radius(3px);
  font-family:"Courier New", monospace;
  border:1px solid darken(whitesmoke,20%);
  padding:3px;
}