  </div>
</main>

<footer>
  <div class="container">
    <form class="form search-form" action="http://www.google.com/search" method="get">
      <div class="item">
        <input type="search" name="q" placeholder="Search Lee Munroe's blog">
        <input type="hidden" name="sitesearch" value="leemunroe.com">
      </div>
    </form>
  </div>
</footer>

<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/build/production.min.js"></script>

<!--Fusian Ads-->
<script type="text/javascript">
(function(){
  var fusion = document.createElement('script');
  fusion.src = window.location.protocol + '//adn.fusionads.net/api/1.0/ad.js?zoneid=307&rand=' + Math.floor(Math.random()*9999999);
  fusion.async = true;
  (document.head || document.getElementsByTagName('head')[0]).appendChild(fusion);
})();</script>
<?php }?>

<!-- Twitter follow button -->
<?php if (!is_page('home')){?>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<?php }?>

<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1284993-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</body>
</html>