    </article>
  </div>
</main>

<!-- Scripts -->
<script src="{{site.baseurl}}/js/build/production.min.js"></script>

<!--Fusian Ads-->
<script type="text/javascript">
(function(){
  var fusion = document.createElement('script');
  fusion.src = window.location.protocol + '//adn.fusionads.net/api/1.0/ad.js?zoneid=307&rand=' + Math.floor(Math.random()*9999999);
  fusion.async = true;
  (document.head || document.getElementsByTagName('head')[0]).appendChild(fusion);
})();</script>

<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1284993-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</body>
</html>