<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="author" href="https://plus.google.com/113524655799972400960/posts?hl=en">
  <meta name="google-site-verification" content="TJ83675LIy2Dm9XUr8RKMvc6ItiLy_yhZ288ARdxe-U">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" media="screen">

  <link rel="alternate" type="application/rss+xml" title="Lee Munroe" href="http://feeds2.feedburner.com/LeeMunroeBlog">
  
  <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

</head>

<body class="{{ page.body }}">

{% include svg.html %}

<main>
  <button id="trigger-nav" class="btn-icon btn-trigger-nav"><svg class="icon-three-bars"><use xlink:href="#icon-three-bars"></use></svg></button>
  <aside class="main-sidebar" id="main-sidebar">
    <p class="about-lee"><a href="{{site.baseurl}}/"><strong>Lee Munroe</strong></a> is a Product Designer in San Francisco, designing developer tools at Mesosphere.</p>
    <nav class="main-nav">
      <a{% if page.path contains '_posts' or page.url == "/blog/index.html" or page.path contains "/page" %} class="selected"{% endif %} href="{{ site.baseurl }}/blog"><svg class="icon-align-left"><use xlink:href="#icon-align-left"></use></svg> <b>Blog</b></a>
      <a{% if page.url == "/portfolio/index.html" %} class="selected"{% endif %} href="{{ site.baseurl }}/portfolio"><svg class="icon-windows"><use xlink:href="#icon-windows"></use></svg> <b>Portfolio</b></a>
      <a{% if page.url == "/about/index.html" %} class="selected"{% endif %} href="{{ site.baseurl }}/about"><svg class="icon-user-outline"><use xlink:href="#icon-user-outline"></use></svg> <b>About Lee</b></a>
      <a{% if page.url == "/contact/index.html" %} class="selected"{% endif %} href="{{ site.baseurl }}/contact"><svg class="icon-bubble-3"><use xlink:href="#icon-bubble-3"></use></svg> <b>Contact</b></a>
      <a href="http://twitter.com/leemunroe"><svg class="icon-twitter-alt"><use xlink:href="#icon-twitter-alt"></use></svg> <b>@leemunroe</b></a>
    </nav>
    <div id="fusion_ad"></div>
  </aside>
  <div class="container" id="container">
    <article class="main-article" id="main-article">
