<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="author" href="https://plus.google.com/113524655799972400960/posts?hl=en">
  <meta name="google-site-verification" content="TJ83675LIy2Dm9XUr8RKMvc6ItiLy_yhZ288ARdxe-U">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" media="screen">

  <link rel="alternate" type="application/rss+xml" title="Lee Munroe" href="http://feeds2.feedburner.com/LeeMunroeBlog">
  
  <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

</head>

<body>

<header>
  <div class="container">

    <a href="/" class="logo"><span>Lee Munroe</span></a>
    
    <button id="show-nav"><i class="icon-reorder"></i></button>

    <nav class="nav-primary">
      <a href="{{ site.baseurl }}/blog"><b>Blog</b></a>
      <a href="{{ site.baseurl }}/portfolio"><b>Portfolio</b></a>
      <a href="{{ site.baseurl }}/about"><b>About Lee</b></a>
      <a href="{{ site.baseurl }}/contact"><b>Contact</b></a>
    </nav>

  </div>
</header>
  
<main>
  <div class="container">