{% include head.html %}


    <article class="article">

    	{{ content }}

    </article>

    <aside class="aside aligncenter">

    	<p><img src="{{ site.baseurl }}/img/lee.jpg" alt="Lee Munroe" title="Lee Munroe, Designer" class="profile"></p>
    	<p>Lee Munroe</p>
    	<p>Product Designer @ Mailgun</p>
    	<p class="followme"><a href="https://twitter.com/leemunroe" class="twitter-follow-button" data-show-count="true" data-show-screen-name="true">Follow @leemunroe</a></p>

    </aside>

{% include foot.html %}