{% include head.html %}


    <article class="article">

    	{{ content }}

    </article>

    <aside class="aside aligncenter">

    	<section class="profile">
	    	<p><img src="{{ site.baseurl }}/img/lee.jpg" alt="Lee Munroe" title="Lee Munroe, Designer" class="profile-image"></p>
	    	<p class="profile-name">Lee Munroe</p>
	    	<p class="profile-status">Leading Product Design @ Mailgun by Rackspace</p>
	    	<p class="followme"><a href="https://twitter.com/leemunroe" class="twitter-follow-button" data-show-count="true" data-show-screen-name="true">Follow @leemunroe</a></p>
	    	<nav class="profile-social">
		      <a href="http://twitter.com/leemunroe" class="twitter" title="Follow @leemunroe for tweets on UX Design"><i class="icon-twitter"></i></a>
		      <a href="http://dribbble.com/leemunroe" class="dribbble" title="See what I'm working on over at Dribbble"><i class="icon-dribble"></i></a>
		      <a href="http://github.com/leemunroe" class="github" title="See what code I'm sharing on Github"><i class="icon-github"></i></a>
		      <a href="http://feeds2.feedburner.com/LeeMunroeBlog" class="rss" title="Subsribe to my feed"><i class="icon-rss"></i></a>
		    </nav>
	    </section>

	    <div id="fusion_ad"></div>

    </aside>

{% include foot.html %}