---
layout: default
description: Writing about UX, Interaction Design and Front-end Development
---
<p class="publisher"><img src="/img/lee.jpg"> By <a href="http://twitter.com/leemunroe" rel="author">Lee Munroe</a>, <pubdate>{{ post.date| date: "%B %Y" }}</pubdate> </p>
<h1>{{ page.title }}</h1>
<div class="post">
	<p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></p>
	{{ content }}
	<p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></p>
	<p>
	  {% if page.previous.url %} 
	    <a href="{{site.baseurl}}{{page.previous.url}}">&laquo; {{page.previous.title}}</a> 
	  {% endif %} 
	  {% if page.next.url %} 
	    <a href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}} &raquo;</a> 
	  {% endif %} 
	</p>
</div>

<div class="post-subscribe">
    <h3>Receive more design content like this to your inbox</h3>
    <form method="post" action="//leemunroe.us1.list-manage.com/subscribe/post?u=1998df7f0f3a32bdf922938ca&amp;id=bea3a63f45" target="_blank">
        <input type="email" name="EMAIL" placeholder="Enter your email" id="mce-EMAIL" required>
        <button class="btn-primary">Subscribe</button>
    </form>
    <p>I promise not to spam you. No more than one email per week.</p>
</div>

<!-- jquery -->
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>

<!-- Subscribe popup -->
<div id="email-subscribe-floater" class="email-subscribe-floater">
    <form method="post" action="//leemunroe.us1.list-manage.com/subscribe/post?u=1998df7f0f3a32bdf922938ca&amp;id=bea3a63f45" target="_blank">
        <label for="mce-EMAIL">Subscribe to my VIP design weekly email</label>
        <input type="email" name="MERGE0" placeholder="Enter your email" id="MERGE0" required class="js-floater-input input-sm">
        <button class="btn-primary btn-sm">Subscribe</button>
    </form>
    <div class=" subscribe-freebie">
        <p>I blog and share links about web design, user experience, product development, HTML/CSS, email design and anything else I find interesting.</p>
        <p><a href="#" id="js-close-subscribe-floater">No thanks</a></p>
    </div>
</div>

<!-- Disqus comments -->
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'leemunroe'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<!-- Twitter follow button -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>